:root {
    --accent-color: #2A8063;
    --main-link-color: #909090;
}

h1, h3 {
    font-weight: normal;
    display: inline;
}

h1 {
    font-size: 3em;
}

#linkIcons {
    display: inline;
    float: right;
}

#linkIcons img {
    filter: invert(67%) sepia(18%) saturate(0%) hue-rotate(201deg) brightness(83%) contrast(84%);
    margin-top: 0.75em;
    width: 2.5em;
    height: 2.5em;
}

#linkIcons a {
    color: transparent;
    margin-left: 1em;
}

strong {
    color: var(--accent-color);
    font-weight: normal;
}

#mainContent {
    margin: auto;
    width: 75%;
}

#mainContent > div {
    margin-top: 5em;
}

#info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-column-gap: 5vw;
    grid-template-areas:
    "a b"
    "c b";
} 

#info > div {
    margin-bottom: 2em;
}

#workingOn {
    grid-area: a;
}

#projects {
    grid-area: b;
}

#more {
    grid-area: c;
}