/* font imports */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root {
    --text-color: #ccc;
    --accent-color: #2A8063;
    --main-link-filter: invert(57%) brightness(100%);
    --main-link-hover-filter: invert(85%) brightness(100%);
}

body {
    background-image: url("resources/background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header, .description, .text {
    color: var(--text-color);
}

.header {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    display: inline;
}

.description, .text {
    font-family: 'IBM Plex Mono', monospace;
}

.description {
    font-size: 1.3em;
}

.text {
    font-size: 1.2em;
}

h1 {
    font-size: 3.5em;
}

h3 {
    font-size: 2em;
}

#linkIcons {
    display: inline;
    float: right;
}

#linkIcons img {
    position: relative;
    top: 1.2em;
    filter: var(--main-link-filter);
    width: 2.75em;
    height: 2.75em;
    transition-timing-function: ease;
    transition-duration: 0.3s;
}

#linkIcons img:hover {
    top: 1em;
    filter: var(--main-link-hover-filter);
}

#linkIcons a {
    color: transparent;
    margin-left: 1.5em;
}

hr {
    border: 0.11em solid var(--text-color);
    opacity: 50%;   
}

ul {
    padding-left: 1.2em;
}

li {
    margin-bottom: 1em;
}

strong {
    color: var(--accent-color);
    font-weight: normal;
}

#mainContent {
    margin: auto;
    width: 75%;
}

#mainContent > div {
    margin-top: 5em;
}

#info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-column-gap: 5vw;
    grid-template-areas:
    "a b"
    "c b";
} 

#info > div {
    margin-bottom: 2em;
}

#workingOn {
    grid-area: a;
}

#projects {
    grid-area: b;
}

#more {
    grid-area: c;
}